<head>
  <link rel="stylesheet" type="text/css" href="static/common_layout.css">
</head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <li><a><%=usr.data.email %></a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
  </nav>
<div class="my-asthma-my-plan-page">
<div id = "patientListVal" style="visibility:hidden"><%=pList%></div>
<div id = "pendingPatientListVal" style="visibility:hidden"><%=pendingPList%></div>
 <div class="newcontainer">
  <div class="my-row special">
  <div class="v-m">
  <div class="form center-block ">
    <div class="row">
      <div class="dropdown">
    	<button class="btn btn-primary dropdown-toggle" id = "patientList" type="button" data-toggle="dropdown">Choose Patient
    	<span class="caret"></span>
    	</button>
	    <ul id = "dropDownUl" class="dropdown-menu" style="width: 100%"></ul>
  	  </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" id = "pendingPatientList" type="button" data-toggle="dropdown">Pending Patient Requests
      <span class="caret"></span>
      </button>
      <ul id = "dropDownPending" class="dropdown-menu" style="width: 100%"></ul>
      </div>
    </div>
    <br>
    <br>
    <div class="text-center">
      <a id ="PatientProfile" style="visibility:hidden" onclick="document.location.href='/viewPatientProfile'" id ="linkPatient"></a>
    </div>
    <br>
    <br>
  </div>
  </div>
  </div>
  </div>
    <script type="text/javascript">

      (function() {
        var elm = document.getElementById('dropDownUl');
        var patients= document.getElementById('patientListVal').innerHTML;
        console.log("patients",patients);
        if(patients=="")return;
        var patientsLists = patients.split(",");
        for(var i=0;i<patientsLists.length;i++){

          var lielem= document.createElement("li");
          lielem.innerText = patientsLists[i];
          elm.appendChild(lielem);
        }
         var pendingelm = document.getElementById('dropDownPending');
        var pendingPatients= document.getElementById('pendingPatientListVal').innerHTML;

        if(pendingPatients=="")return;

        var pendingPatientsLists = pendingPatients.split(",");

        for(var i=0;i<pendingPatientsLists.length;i++){

          var pendinglielem= document.createElement("li");
          pendinglielem.appendChild(document.createTextNode(pendingPatientsLists[i]));
          var atag = document.createElement("a");
          atag.innerHTML = "Accept";
          atag.style.display="inline";
          atag.onclick= function () { 
             var parentdata = this.parentNode.innerText;
             var patientemail =parentdata.replace("AcceptDecline", "");
             console.log("parentEmail:",patientemail);
              $.ajax({
                type: "POST",
                url: "/addToPatientList",
                data: { patientEmail:patientemail },
                success: function(result){
                  alert(1);
                  console.log("result:",result);
                  location.href= "/doctor";
                },
              error: function(result) {
                  alert('error');
              }
          });
          };
          pendinglielem.appendChild(atag);

          var atag1 = document.createElement("a");
          atag1.innerHTML = "Decline";
          atag1.style.display="inline";
          atag1.onclick= function () { 
              var parentdata = this.parentNode.innerText;
             var patientemail =parentdata.replace("AcceptDecline", "");
              $.ajax({
                type: "POST",
                url: "/removeFromPendingPatientRequests",
                 data: { patientEmail:patientemail },
                 success: function(result){
                   location.href= "/doctor";
                },
            error: function(result) {
              alert('error');
            }
          });
          };
          pendinglielem.appendChild(atag1);
          pendingelm.appendChild(pendinglielem);
        }

      }());

      $(document).ready(function () {
 // console.log("pList in doctor:", usr.data.email);
 $("#dropDownUl li").on('click', function () {
     // $('#patientList').text($(this).text());
     document.getElementById("patientList").innerText =this.innerText;
     // console.log("test",this.innerText)
     document.getElementById("PatientProfile").style.visibility="visible";
     document.getElementById("PatientProfile").innerText = "View profile of " +this.innerText;
     // $('#PatientProfile').text("View profile of " + $(this).text());
   });
});
  </script>
</div>