<head>
  <link rel="stylesheet" type="text/css" href="static/common_layout.css">
</head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <li><a><%=usr.data.email %></a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
  </nav>
<div class="my-asthma-my-plan-page">
<div id = "patientListVal" style="visibility:hidden"><%=pList%></div>
 <div class="newcontainer">
  <div class="my-row special">
  <div class="v-m">
  <div class="form center-block ">
    <div class="row">
      <div class="dropdown">
    	<button class="btn btn-primary dropdown-toggle" id = "patientList" type="button" data-toggle="dropdown">Choose Patient
    	<span class="caret"></span>
    	</button>
	    <ul id = "dropDownUl" class="dropdown-menu"></ul>
  	  </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" id = "patientList" type="button" data-toggle="dropdown">Pending Patient Requests
      <span class="caret"></span>
      </button>
      <ul id = "dropDownPending" class="dropdown-menu"></ul>
      </div>
    </div>
    <br>
    <br>
    <div class="text-center">
      <a id ="PatientProfile" style="visibility:hidden" onclick="document.location.href='/viewPatientProfile'" id ="linkPatient"></a>
    </div>
    <br>
    <br>
  </div>
  </div>
  </div>
  </div>
    <script type="text/javascript">
      (function() {
        var elm = document.getElementById('dropDownUl')
        var patients= document.getElementById('patientListVal').innerHTML;
        var patientsLists = patients.split(",");
        for(var i=0;i<patientsLists.length;i++){
          var lielem= document.createElement("li");
          lielem.innerText = patientsLists[i];
          elm.appendChild(lielem);
        }
      }());

      $(document).ready(function () {
 // console.log("pList in doctor:", usr.data.email);
 $("#dropDownUl li").on('click', function () {
     // $('#patientList').text($(this).text());
     document.getElementById("patientList").innerText =this.innerText;
     // console.log("test",this.innerText)
     document.getElementById("PatientProfile").style.visibility="visible";
     document.getElementById("PatientProfile").innerText = "View profile of " +this.innerText;
     // $('#PatientProfile').text("View profile of " + $(this).text());
   });
});
  </script>
</div>