extend layout
block content
	h1= title	
	
	p
	| Who is using the app today?
	br
	
	input(type='file', accept='image/*', onchange='openFile(event)')
	img(id='temp')

	
	script.
		var openFile = function(event) {
			console.log("run openfile");
			var input = event.target;
			var reader = new FileReader();
			reader.onload = function(){
				console.log("run onload");
				var dataURL = reader.result;
				var temp = document.getElementById('temp');
				temp.src = dataURL;
				console.log(temp);
				new Request.HTML({
					url: '/fr',
					data: {
						html: temp,
						delay: 3 },
					method: 'post'
				}).send();
			};
			reader.readAsDataURL(input.files[0]);
		};