<head>
  <link rel="stylesheet" type="text/css" href="static/common_layout.css">
</head>
<meta name="viewport" content="width=device-width, initial-scale=0.8" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
  <ul class="nav navbar-nav">
   <li><a><%=usrDetails.firstName %> <%= usrDetails.lastName%></a></li>
   <button type="button" onclick="document.location.href='/logout'"class="btn btn-default navbar-btn">Log Out</button>
 </ul>
</nav>
<div class="doctorPage">
  <div id = "patientListVal" style="visibility:hidden"><%=pList%></div>
  <!-- <div id = "patientListVal" style="visibility:hidden"></div> -->
  <div class="newcontainer">
    <div class="my-row special">
      <div class="v-m">
        <div class="form center-block ">
          <div class="row">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" id = "patientList" type="button" data-toggle="dropdown">Choose Patient
                <span class="caret"></span>
              </button>
              <ul id = "dropDownUl" class="dropdown-menu" style="width: 100%"></ul>
            </div>
          </div>
          <br>
          <br>
          <br>
          <br>
          <div class="row" id="Add_patient_button">           
          <div class="col-sm-12"><button class="btn btn-primary btn-lg btn-block" style="background-color: plum" onclick="ShowAddPatientFrom()">Add Patient</button></div>
          </div>
          <form class="register-form" id="add_patient_form" method='post' style="display:none">
            
              <div class="form-group">
              <label for="firstName">Patient FirstName:</label>
              <input class="form-control" id="firstName" placeholder="First Name" name ="firstName">
            </div>
            <div class="form-group">
              <label for="LastName">Patient LastName:</label>  
              <input  class="form-control" id="LastName" placeholder="Last Name" name ="lastName">
            </div>  
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" placeholder="Email Address" name ="email">
            </div>
            
            <button class="btn btn-warning btn-lg" id="sendAddPatientRequest">Add Patient</button>
            <button type="button" class="btn btn-warning btn-lg" onclick="HideAddPatientForm()">Cancel</button>
          </form>
          </div>
          <br>
          <br>
          <div class="text-center">
           <a  style="  text-decoration: underline" id="PatientProfile" class="lead" onclick="viewPatientPostRequest(this)" style="visibility:hidden"></a>
         </div>
         <br>
         <br>
       </div>
     </div>
   </div>
 </div>
 <script type="text/javascript">

  function ShowAddPatientFrom () {
        $("#Add_patient_button").hide();
        $("#add_patient_form").show();
  }
  function HideAddPatientForm () {
        $("#Add_patient_button").show();
        $("#add_patient_form").hide();
  }

  var patientEmail;
  function viewPatientPostRequest(){

    $.post("/viewPatientProfile",{patient_data:patientEmail}, function(json) {  
      location.href = '/viewPatientProfile';
    });
  }

  $(document).ready(function () {
   $("#dropDownUl li").on('click', function () {
    patientEmail = this.innerText;
    document.getElementById("PatientProfile").style.visibility="visible";
    document.getElementById("PatientProfile").innerText = "View profile of " +this.innerText;
  });
   $("#sendAddPatientRequest").on('click', function() {
      var firstName_ = $("#firstName").val();
      var lastName_ = $("#LastName").val();
      var email_ = $("#email").val();
      $.ajax({
                type: "POST",
                url: "/addPatient",
                data: { firstName:firstName_, lastName: lastName_, email: email_},
                success: function(result){
                  //alert("success from /addToPatientList");
                  //console.log("result:",result);
                  location.href= "/guardian";
                },
              error: function(result) {
                  alert('error');
              }
      });
   });
    var elm = document.getElementById('dropDownUl');
    var patients= document.getElementById('patientListVal').innerHTML;
    console.log(patients);
    if(!patients==""){
      var patientsLists = patients.split(",");
      for(var i=0;i<patientsLists.length;i++){

        var lielem= document.createElement("li");
        lielem.innerText = patientsLists[i];
        elm.appendChild(lielem);
      }
    }

 });
</script>
</div>