<head>
  <link rel="stylesheet" type="text/css" href="static/common_layout.css">
  <link rel="stylesheet" href="static/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <li><a><%= usr.data.email %></a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
  </nav>
<div class="newcontainer">
 <div class="my-row special">
  <div class="v-m">
  <div class ="form center-block ">

      <div class="row">
      <div class="col-sm-6"><button class="btn btn-primary btn-md btn-lg pull-right" style="background-color: blue" onclick="document.location.href='/mamp'">MyAsthama Plan</button></div>
        <div class="col-sm-6"><button class="btn btn-primary btn-md btn-lg" style="background-color: blue" onclick="document.location.href='/fileupload'">Create new Plan</button></div> 
      </div>
      <div class="row">
          <div class="col-sm-6"><button class="btn btn-primary btn-md btn-lg pull-right" style="background-color: coral">MyPlan History</button></div>
          <div class="col-sm-6"><button class="btn btn-primary btn-md btn-lg" style="background-color: coral">Patient Log</button></div>
      </div>
      <div class="row">
        <div class="col-sm-12"><button class="btn btn-primary btn-lg btn-block" style="background-color: cornflowerblue">How are you feeling today</button>
        </div>
      </div>
      <div class="row">
         <div class="col-sm-12"><button class="btn btn-primary btn-lg btn-block" style="background-color: darksalmon">Contacts</button></div>
      </div>
      <div class="row">           
      <div class="col-sm-12"><button class="btn btn-primary btn-lg btn-block" style="background-color: crimson">Any Question?</button></div>
      </div>
       <div class="row" id="Add_doctor_button">           
      <div class="col-sm-12"><button class="btn btn-primary btn-lg btn-block" style="background-color: plum" onclick="ShowSendRequestFrom()">Add Doctor</button></div>
      </div>
      <form class="register-form" id="send_request_form" action='/doctorRequest' method='post' style="display:none">
        <div class="form-group" >
            <label for="email">Doctor's Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Email Address" name ="email">
        </div>
        <button class="btn btn-warning btn-lg">Send Request</button>
        <button type="button" class="btn btn-warning btn-lg" onclick="HideSendRequestForm()">Cancel</button>
      </form>
      </div>
      </div>
      </div>
      </div>
      </div>
</div>
<script>
function ShowSendRequestFrom () {
        $("#Add_doctor_button").hide();
        $("#send_request_form").show();
}
function HideSendRequestForm () {
        $("#Add_doctor_button").show();
        $("#send_request_form").hide();
}
</script>