doctype html
html
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="https://github.com/blueimp/JavaScript-Load-Image/blob/master/js/load-image-orientation.js")
	head
		title #{title} - My Asthma My Plan
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
	body
		header
			button(id="home-button" onclick="location.href='/'") My Asthma My Plan
		div
			block content

	footer
		p This is a prototype. It will be prettier and more functional as time goes on.