<head>
  <link rel="stylesheet" type="text/css" href="static/common_layout.css">
  <link rel="stylesheet" href="static/stylesheets/style.css">
</head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">My Asthma App</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a><%=usrDetails.firstName %> <%= usrDetails.lastName%></a></li>
            <li ><a onclick="handleReturnHome()" href ="#" >Return</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          
          </ul>
        </div>
      </div>
    </nav>
    <header><h3 class ="text-center"><%=pDetails.fName %> <%= pDetails.lName%></h3></header>
  <div class="PlanHistoryPage" style="background-color: #76b852;height:100%">
  	<br>
  	<br>

  	<div id ="selectionRow" class ="row text-center">
  	<div class="col-sm-4"></div>
  	<div class="col-sm-4 center-block">	<select id ="SelectType" onchange="handleChangeType()" class="form-control input-xxlarge" style ="display: inline" data-style="btn-primary">
		  <option>Recently Uploaded</option>
		  <option>Date</option>
		  <option>Doctor</option>
		</select></div>
  	</div>
  	<br>
  	<br>
  	<div id ="listFiles" class ="text-center">
  	</div>
  </div>
  <div id ="fileDetails" style="visibility:hidden"><%= fileDetails%></div>
  	<div id = "usrDesc" style="visibility:hidden"><%= usr%></div>
  <script type="text/javascript">
  	var time1 =1483251408562;
  	var time2 = 1483251417634;
  	var time3 = 1483256303464;
  	var time4 = 1483256338867;
  	var patientPlanDetails;

  			var details;
  			details = JSON.parse(document.getElementById("fileDetails").innerHTML);
  			details.sort(function(a, b) {
    			return b.timestamp - a.timestamp;
			});

  		function handleChangeType()	{
		var listFilesDiv = document.getElementById("listFiles");
		listFilesDiv.innerText ="";
		var selectType = document.getElementById('SelectType').value;
		var selectionRow = document.getElementById("selectionRow");
		if(selectType =="Recently Uploaded"){
			if(document.getElementById("doctorSelect")){
				selectionRow.removeChild(document.getElementById("doctorSelect"));
			}
			for(var i=0;i<details.length;i++){
					var rowDiv = document.createElement("div");
					rowDiv.className ="row";
					var colDiv1 = document.createElement("div");
					colDiv1.className ="col-sm-3";
					var fileNameValue = details[i].filename;
					fileNameValue= fileNameValue.substring(0,fileNameValue.lastIndexOf("."));
					colDiv1.innerText = fileNameValue;
					rowDiv.appendChild(colDiv1);
					var colDiv2 = document.createElement("div");
					colDiv2.className ="col-sm-3"
					colDiv2.innerText = details[i].doctor;
					rowDiv.appendChild(colDiv2);
					var colDiv3 = document.createElement("div");
					colDiv3.className ="col-sm-3";
					var dt = new Date(Number(details[i].timestamp));
					var fullDate = dt.getMonth() +1 +"/" + dt.getDate() + "/" +dt.getFullYear();
					colDiv3.innerText = fullDate;
					rowDiv.appendChild(colDiv3);
					var colDiv4 = document.createElement("div");
					var viewButton = document.createElement("button");
					viewButton.innerText ="View";
					viewButton.name = fileNameValue;
					viewButton.className ="btn-primary";
					viewButton.addEventListener('click', function(){
						if(this.innerText=="View"){
							this.innerText ="Hide";
							 handleViewButtonClick(this.name);
						}else {
							this.innerText ="View";
							document.getElementById(this.name).src ="";
							document.getElementById(this.name).style ="";
						}	
					   
					});
					colDiv4.appendChild(viewButton);
					rowDiv.appendChild(colDiv4);
					var imageDiv = document.createElement("img");
					imageDiv.id = fileNameValue;
					rowDiv.appendChild(imageDiv);
					listFilesDiv.appendChild(rowDiv)
			}
		}else if(selectType =="Doctor")	{
			var colDiv1 = document.createElement("div"); //.form-control
			colDiv1.className ="col-sm-4";
			var doctorSelectList = document.createElement("select");
			doctorSelectList.className ="form-control";
			doctorSelectList.style.display="inline";
			doctorSelectList.id = "doctorSelect";
			
			$('#selectionRow').on('change', '#doctorSelect', function(){
				handleDoctorSelect();
			});

			colDiv1.appendChild(doctorSelectList);
			selectionRow.appendChild(colDiv1);
			var docSet =new Set();
			for(var j=0;j< details.length; j++){
				docSet.add(details[j].doctor);
			}
			for (let item of docSet) {
				 var option = document.createElement("option");
				  option.text = item;
				  doctorSelectList.appendChild(option);
			}
			
			handleDoctorSelect();
		}
	};

	handleChangeType();

		function handleDoctorSelect(){
			var listFilesDiv = document.getElementById("listFiles");
			listFilesDiv.innerText ="";
			var doctorSelected = document.getElementById('doctorSelect').value;
			for(var i=0;i<details.length;i++){
				if(details[i].doctor ==doctorSelected){
						var rowDiv1 = document.createElement("div");
						rowDiv1.className ="row";
						var colDiv1 = document.createElement("div");
						colDiv1.className ="col-sm-3";
						var fileNameValue = details[i].filename;
						fileNameValue= fileNameValue.substring(0,fileNameValue.lastIndexOf("."));
						colDiv1.innerText = fileNameValue;
						rowDiv1.appendChild(colDiv1);
						var colDiv2 = document.createElement("div");
						colDiv2.className ="col-sm-3"
						colDiv2.innerText = details[i].doctor;
						rowDiv1.appendChild(colDiv2);
						var colDiv3 = document.createElement("div");
						colDiv3.className ="col-sm-3"
						var dt = new Date(Number(details[i].timestamp));
						var fullDate = dt.getMonth() +1 +"/" + dt.getDate() + "/" +dt.getFullYear();
						colDiv3.innerText = fullDate;
						rowDiv1.appendChild(colDiv3);
						var colDiv4 = document.createElement("div");
						colDiv4.className ="col-sm-3"
						var viewButton = document.createElement("button");
						viewButton.innerText ="View";
						viewButton.name = fileNameValue;
						viewButton.className ="btn-primary";
						viewButton.addEventListener('click', function(){
							if(this.innerText=="View"){
								this.innerText ="Hide";
								 handleViewButtonClick(this.name);
							}else {
								this.innerText ="View";
								document.getElementById(this.name).src ="";
								document.getElementById(this.name).style ="";
						}	
						});
						colDiv4.appendChild(viewButton);
						rowDiv1.appendChild(colDiv4);
						var imageDiv = document.createElement("img");
						imageDiv.id = fileNameValue;
						rowDiv1.appendChild(imageDiv);
						listFilesDiv.appendChild(rowDiv1);
				}
			}
	};
	console.log("role her:",JSON.parse(document.getElementById("usrDesc").innerHTML));
	var userDetails = JSON.parse(document.getElementById("usrDesc").innerHTML);
	var role = userDetails.data.role;

	function handleReturnHome(){
		console.log("in handleReturnHome");
		var destination;
		if(role=="Patient"){
			destination = "/home";
		}else if(role=="Doctor"){
			destination = "/viewPatientProfile";
		}else{
			destination = "/patientHome";
		}
		console.log("destination here:",destination)
         location.href = destination;

	};

	function handleViewButtonClick(filename){
		   $.ajax({
                type: "POST",
                url: "/getFileContent",
                 data: { fileName:filename },
                 success: function(result){
                 	$('#'+filename).attr('src', result).width(300).height(300);
                 	// document.getElementById(filename).src = result;
                },
            error: function(result) {
              alert('error');
            }
          });
	};
	
	
  </script>