extend layout
block content
	p
	| You need to be logged in to see here.
	br 
	p
	div
		button(type submit onclick="location.href='/home'") Home
	br
	br
	p
	div
		button(type submit onclick="location.href='/login'") Login
	br
	br
	p
	div
		button(type submit onclick="location.href='/signup'") Sign Up
	br
	br