<head>
  <link rel="stylesheet" type="text/css" href="static/common_layout.css">
  <link rel="stylesheet" href="static/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<meta name="viewport" content="width=device-width, initial-scale=0.8" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">My Asthma App</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a><%=usrDetails.firstName %> <%= usrDetails.lastName%></a></li>
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
<header><h3 class ="text-center"><%=pDetails.firstName %> <%= pDetails.lastName%></h3></header>
<div class="newcontainer">
 <div class="my-row special">
  <div class="v-m">
   <div class ="form center-block ">

    <div class="row">
      <div class="col-sm-12"><button class="btn btn-primary btn-md btn-lg pull-right" style="background-color: blue" onclick="document.location.href='/mamp'">MyAsthama Plan</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12"><button class="btn btn-primary btn-md btn-lg" style="background-color: green" onclick="document.location.href='/fileupload'">Create new Plan</button>
      </div> 
    </div>
    <div class="row">
      <div class="col-sm-12"><button id ="PlanHistory" onclick="document.location.href='/getPatientHistory'" class="btn btn-primary btn-md btn-lg pull-right" style="background-color: coral">MyPlan History</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12"><button class="btn btn-primary btn-md btn-lg" style="background-color: lightpink">Patient Log</button></div>
    </div>
    <div class="row">
      <div class="col-sm-12"><button class="btn btn-primary btn-lg btn-block" style="background-color: cornflowerblue">How are you feeling today</button>
      </div>
    </div>
    <div class="row">
     <div class="col-sm-12"><button class="btn btn-primary btn-lg btn-block" style="background-color: darksalmon">Contacts</button></div>
   </div>
   <div class="row">           
    <div class="col-sm-12"><button class="btn btn-primary btn-lg btn-block" style="background-color: crimson">Any Question?</button></div>
  </div>
  <div class="row" id="Add_doctor_button">           
    <div class="col-sm-12"><button class="btn btn-primary btn-lg btn-block" style="background-color: plum" onclick="ShowSendRequestForm()">Add Doctor</button></div>
  </div>
  <form class="register-form" id="send_request_form" action='/doctorRequest' method='post' style="display:none">
    <div class="form-group" >
      <label for="email">Doctor's Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Email Address" name ="email">
    </div>
    <button class="btn btn-warning btn-lg">Send Request</button>
    <button type="button" class="btn btn-warning btn-lg" onclick="HideSendRequestForm()">Cancel</button>
  </form>
  <!-- </div> -->
  <!-- </div> -->
</div>
</div>
</div>
</div>
<script>
  $("#Add_doctor_button").hide();
  function PlanHistory(){
   $.ajax({
    type: "GET",
    url: "/getPatientHistory",
    success: function(result){
      console.log("success");
    },
    error: function(result) {
      alert('error');
    }
  });
 }
 function ShowSendRequestForm () {
  $("#Add_doctor_button").hide();
  $("#send_request_form").show();
}
function HideSendRequestForm () {
  $("#Add_doctor_button").show();
  $("#send_request_form").hide();
}
</script>