extend layout
block content
	p
	| Who is this for?
	br 
	p
	div
		button(type submit onclick="location.href='/Doctor2b'") Patient2
	br
	br
	p
	div
		button(type submit onclick="location.href='/Doctor2c'") Patient3
	br
	br
	