extend layout
block content

    div(class='container')
        div(class='col-sm-6 col-sm-offset-3')
            h1 
                span(class='fa fa-sign-in') Sign Up

            if(message.length > 0)
                div(class='alert alert-danger')
                    #{message}

            form(action='/signup', method='post')
                div(class='form-group')
                    label Email
                    input(type='text', class="form-control", name="email")
                div(class="form-group")
                    label Password
                    input(type="password", class="form-control", name="password")
                div(class='form-group')
                    label Patient  
                    input(type="radio", class='radio-inline', name="usertype", style='margin-right: 10px;', value="0")
                    label Doctor 
                    input(type="radio", class='radio-inline', name="usertype", value="1")
                button(type="submit", class="btn btn-warning btn-lg") Sign Up

            hr

            p
            | Have an account? 
            a(href="/login") Log in!
            p
            | Or go 
            a(href="/") Home.