<head>
  <link rel="stylesheet" type="text/css" href="static/common_layout.css">
  <link rel="stylesheet" href="static/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
    <li><a><%=usrDetails.firstName %> <%= usrDetails.lastName%></a></li>
      <button type="button" onclick="document.location.href='/logout'"class="btn btn-default navbar-btn pull-right">Log Out</button>
    </ul>
  </nav>
<div class="newcontainer">
 <div class="my-row special">
  <div class="v-m">
  <div class ="form center-block ">

      <div class="row">
      <div class="col-sm-6"><button class="btn btn-primary btn-md btn-lg pull-right" style="background-color: blue" onclick="document.location.href='/mamp'">MyAsthama Plan</button></div>
        <div class="col-sm-6"><button class="btn btn-primary btn-md btn-lg" style="background-color: blue" onclick="document.location.href='/fileupload'">Create new Plan</button></div>
      </div>
      <div class="row">
          <div class="col-sm-6"><button class="btn btn-primary btn-md btn-lg pull-right" onclick="document.location.href='/getPatientHistory'" style="background-color: coral">MyPlan History</button></div>
          <div class="col-sm-6"><button class="btn btn-primary btn-md btn-lg" style="background-color: coral">Patient Log</button></div>
      </div>
      <div class="row">
        <div class="col-sm-12"><button class="btn btn-primary btn-lg btn-block" style="background-color: cornflowerblue">How are you feeling today</button>
        </div>
      </div>
      <div class="row">           
      <div class="col-sm-12"><button class="btn btn-primary btn-lg btn-block" onclick="document.location.href='/home'" style="background-color: orange">Return Home</button></div>
      </div>
      </div>
      </div>
      </div>
      </div>
</div>
<script type="text/javascript">
  function PlanHistory(){
   $.ajax({
                type: "GET",
                url: "/getPatientHistory",
                success: function(result){
                  console.log("success");
                },
              error: function(result) {
                  alert('error');
              }
          });
}
</script>>