<head>
  <link rel="stylesheet" type="text/css" href="Resources/common_layout.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<div class="home-page">
  <div class="form">
    <table style="margin: 0px auto;">
      <tbody>
      <tr>
        <td><button style="background-color: blue">MyAsthama Plan</button></td>
        <td><button style="background-color: blue">Create new Plan</button></td>
      </tr>
      <tr>
        <td><button style="background-color: coral">MyPlan History</button></td>
        <td><button style="background-color: coral">Patient Log</button></td>
      </tr>
      <tr>
        <td colspan="2"><button style="background-color: cornflowerblue">How are you feeling today</button></td>
      </tr>
      <tr>
        <td colspan="2"><button style="background-color: darksalmon">Contacts</button></td>
      </tr>
      <tr>
        <td colspan="2"><button style="background-color: crimson">Any Question?</button></td>
      </tr>
      </tbody>
      </table>
  </div>
</div>