<head>
  <link rel="stylesheet" type="text/css" href="Resources/common_layout.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<div class="my-asthma-my-plan-page">
  <div class="form">
    <table style="margin: 0px auto;">
      <tbody>
      <tr>
        <td>
          <label class="btn btn-default btn-file">
            Upload a Plan <input type="file" accept="image/*" capture="camera" value="">
          </label>
        </td>
      </tr>
      <tr>
        <td><button style="background-color: orange">Return Home</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>